:root{
    --color-american-red: #b51733;
    --color-red-hover: #b84d60;
    --color-beige: #f9f2e0;
    --color-eerie-black: #1c1d1d;
    --color-dirty-brown: #ac7421;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: Kurale, sans-serif;
    color: var(--color-eerie-black);
    background-color: var(--color-beige);
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin: 0 auto  ;
    padding: 0 20px;
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
main{
    gap: 38px;
}
section{
    padding: 24px 0;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    color: var(--color-beige);
    background-color: var(--color-american-red);
    border: 1px solid var(--color-american-red);
    border-radius: 10px;
    text-align: center;
    transition: background-color .3s;
    &:hover{
        background-color: var( --color-red-hover);
    }
}   


@media screen and (min-width:1024px) {
    .conteiner{
        display: flex;
        flex-direction: column;
        margin: 0 auto  ;
        padding: 0 100px;
        max-width: 1240px;
        width: 100%;
    }
    section{
        padding: 42px 0;
    }
}